<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            <div class="pdf">
                <h1 class="page-heading">{{ page.title }}</h1>
                <iframe src="{{ page.pdf }}" frameborder="0" width="100%" height="900"></iframe>
                <p>
                    {{ content }}
                </p>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>
{% include foot.html %}

</html>